@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
*{
    padding: 0;margin: 0;box-sizing: border-box;font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}
body{
    /* position: relative; */
    background-color: #eee;
    scroll-behavior: smooth;
}
:root
{
    --green:rgb(28, 230, 93);
    --orange:rgb(238, 178, 14);
    --black:rgb(9, 10, 9);
}
::selection{
    background: var(--black);color: var(--orange); color:var(--green);
    /* animation: selec 5s ; */
}
::-webkit-scrollbar-track{
    background:rgba(28, 230, 92, 0.377) ;
}
header {
    width: 100%;
    /* transition: .4s; */
    /* box-shadow: 1px 3px 7px #0001; */
}
header.show{
    /* position: fixed;z-index: 11111; */
}
header .nav-bar-1{
    width: 100%;
    background-color: var(--green);
    padding: 5px 0;
}
header .nav-bar-1 .container {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
}
header .nav-bar-1 .container .nav{
    display: flex;
}





